<div>
    <h2>[Pregunta]</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta omnis quas placeat quos quo facilis quasi assumenda voluptates? Quidem iure ea voluptas consequuntur doloribus eaque impedit quaerat laboriosam magni sint.
    </p>
</div>
</main>